/*** MAIN COLORS ***/
.color1, .color1 a, .yui-panel .hd {
	background-color: #ff0000;
}
.color2 {
	background-color: #F2F2F2;
}

/*** WIDGETS ***/
#searchInput {
	border-color: #501313;
}
#search_button {
	background-image: url(../images/search.png);
}

/*** HEADER AND FOOTER ***/
#header_username a {
	color: #8b2222;
}
.headerMenuButton dt, .headerMenuButton dd {
	background-image: url(../images/header_button.png);
}

.editsectionbutton {
	background-color: #FFC;
	color: #FFC;
}
