/**
 * Wikia User Interface 
 *
 * This file defines styling for Wikia Buttons.
 * https://contractor.wikia-inc.com/wiki/Wikia_buttons
 *
 * @author Christian Williams <christian@wikia-inc.com>
 * @author James Haley
 */


