body.widgetsAddingBlocked .add {
	cursor: default;
	opacity: 0.5;
}

#rc {
        font-size: 8pt;
	padding: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.sidebar {
	position: absolute;
	top: 51px;
	width: 206px;
	/*width: 15.45em;*/
	z-index: 995;
}
.left_sidebar {
	left: 5px;
}
.right_sidebar {
	right: 5px;
}

.sidebox {
	background: #FFF;
	border: 1px solid #AAA;
	color: #000;
	margin-bottom: 10px !important;
	padding: 2px !important;
}

.sidebox .sidebox_title {
	font-family: tahoma, arial, sans-serif;
	font-size: 7pt;
	line-height: 1.0em;
	padding: 5px;
        font-weight: bold;
}
.widget .widget_title {
	font-family: tahoma,
	cursor: move;
        height: 17px;
        padding-top: 3px;
        padding-left: 6px;
	font-size: 8pt;
        font-weight: bold;
}

.loggedout .sidebox dt {
	cursor: default;
}
.sidebox dt.mini {
	font-size: 8pt;
	padding: 2px;
	text-align: center;
}
.widget .widgetToolbox img {
	cursor: pointer;
	float: right;
	margin: 3px 0 0 4px;
}

.sidebox .sidebox_contents {
	font-size: 9pt;
	padding: 7px;
	margin: 10px;
}
.widget .widget_contents {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
        padding-top: 5px;
        padding-left: 6px;
        padding-bottom: 5px;
        padding-right: 6px;
	font-size: 9pt;
}
/*.sidebox h1 {
	font-family: tahoma, arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}*/
.sidebox li {
	padding: .15em 0;
}
.widget .widgetViewControl {
	border-bottom: 1px solid #AAA;
	font-size: 9pt;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.widget .widgetMore
{
    padding: 5px 0;
    text-align: right;
    text-transform: lowercase;
}

.widget_loading
{
    height: 30px;
    background-image: url('../images/ajax.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.widget form label {
    display: inline;
}

.widget form input {
    margin: 3px 0;
    width: 170px;
}

.widget form select {
    margin: 3px 0;
    width: 180px;
}

.widget form input.checkbox,
.widget form input.editor_button {
    width: auto;
    margin: 0 3px;
}

/*** SEARCH/NAVIGATION ***/
#search_box {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(0,0,0,0.06)), color-stop(0.33, rgba(0,0,0,0)), color-stop(0.42, rgba(0,0,0,0)), color-stop(1.0, rgba(0,0,0,0.1)));
	background-position: top left;
	background-repeat: repeat-x;
	padding: 6px;
	position: relative;
}
#searchform {
	background-color: #FFF;
	border: 1px solid #039;
	width: 167px;
	height: 19px;
}
#searchInput {
	background: transparent;
	border: 0;
	color: #000;
	font-size: 7pt;
	height: 22px;
	line-height: 20px;
	margin: 0;
	padding: 0 3px 0 3px;
	width: 164px;
}
#searchInput:focus {
	box-shadow: none;
}
#searchInput.placeholder { color: gray }
#searchInput::-webkit-input-placeholder { color: gray }
#searchInput:-moz-placeholder { color: gray }
#search-button {
	height: 22px;
	margin: 0;
	position: absolute;
	right: 6.5px;
	top: 5px;
	width: 20px;
}

.hover-navigation * {
	overflow: visible;
}
.hover-navigation .sub-menu {
	margin: 0 !important;
}

.border-fix {
	border-bottom: none !important;
}

.sub-menu {
	background: #FFF;
	border: 1px solid #D4DFD7;
	padding: 5px 0px;
	position: absolute;
	top: 0;
	width: 200px;
	/* Hide without stopping <tab> from working */
	left: -1000%;
	z-index: 0;
}
.hover-navigation .menu-item.open > .sub-menu,
.hover-navigation .menu-item:hover > .sub-menu {
	display: block;
	left: 100%;
	z-index: 1000;
}

.hover-navigation .menu-item {
	border-bottom: 1px solid #EEE;
	display: block;
	font-family: Tahoma, arial, sans-serif;
	font-weight: bold;
	height: 1%;
	padding: 0;
	position: relative;
}
.hover-navigation a {
	color: #333;
	display: block;
	height: 1%;
	padding: 3px 5px;
	text-decoration: none;
	overflow: hidden;
}

.hover-navigation .Monaco-sidebar_edit {
	font-size: 80%;
	text-align: right;
}

.hover-navigation .Monaco-sidebar_more {
	text-align: right;
}

.hover-navigation .menu-item:hover > a,
.hover-navigation .menu-item > a:active,
.hover-navigation .navigation-hover > a {
	background-color: #e0efff;
}
.hover-navigation em {
	font-family: arial, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	right: 3px;
	top: 0px;
}
.hover-navigation .sidebox {
	margin: 0;
}

#link_box_table {
	font-size: 8pt;
	font-weight: bold;
	width: 100%;
}

#link_box_table .disabled * {
	filter:alpha(opacity=40);
	opacity: .4;
	cursor: wait;
}

#link_box_table td {
	padding: 1px 4px;
	vertical-align: top;
	overflow: hidden;
}
#link_box_table a {
	background: transparent;
}
#link_box_dynamic .link_box_dynamic_item:first-line {
	line-height: 16px;
}
#link_box_dynamic .link_box_dynamic_item {
	padding: 3px 0;
	position: relative;
}


.yuimenuitemmore a,
.yuimenuitemedit1 a,
.yuimenuitemedit2 a {
	text-align: right;
	font-size: 8pt;
	padding: 2px 2px !important;
}

/*** Link suggest ***/
.link-suggest-container {
	z-index: 1000;
	position: absolute;
	top: 25px;
	left: 5px;
	width: 171px;
}
.yui-ac-content{
	border:1px solid #808080 !important;
	color: #000;
	position: absolute;
	width: 100%;
	background:#fff;
	overflow:hidden;
	z-index:9050;
}
.yui-ac-content ul {
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	list-style-image: none !important;
}
.yui-ac-content li {
	float: none !important;
	font-size: 9pt;
	margin: 0 !important;
	/*padding: 2px 5px !important;*/
	padding: 1px 0px 0px 3px;
	cursor: default;
	white-space: nowrap;
}

/*** search suggestions ***/
.os-suggest {
	background: #FFF;
	border: 1px solid #999;
	color: #000;
	cursor: default;
	font-size: 0.9em;
	text-align: left;
	width: 170px !important;
	overflow-y: visible;
	height: auto !important;
}
.os-suggest .os-suggest-result-hl {
	background: #e0efff;
	color: #000;
}
.os-suggest .os-suggest-result {
	background: #FFF;
/*	white-space: nowrap;*/
}

/* macbre: <widget> */
.widgetTag {
	width: 206px;
	position: static;
}

.widgetTag .widget_title {
	display: none;
}

.widgetTag dl {
	position: relative;
}

/* widget cockpit IE6 fixes */
.widget_sort_placeholder {
	background: transparent;
	border: 1px dashed #AAA;
	margin-bottom: 10px !important;
	padding: 2px !important;
}

.toolbar {
	border-top-style: solid;
	border-top-width: 1px;
	padding: 3px 5px !important;
}
